-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: doorbixv0
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_a_customuser`
--

DROP TABLE IF EXISTS `core_a_customuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_a_customuser` (
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_a_customuser`
--

LOCK TABLES `core_a_customuser` WRITE;
/*!40000 ALTER TABLE `core_a_customuser` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_a_customuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_a_customuser_groups`
--

DROP TABLE IF EXISTS `core_a_customuser_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_a_customuser_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customuser_id` char(32) NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_a_customuser_groups_customuser_id_group_id_faffda81_uniq` (`customuser_id`,`group_id`),
  KEY `core_a_customuser_groups_group_id_dc862ac3_fk_auth_group_id` (`group_id`),
  CONSTRAINT `core_a_customuser_gr_customuser_id_62ea8ab2_fk_core_a_cu` FOREIGN KEY (`customuser_id`) REFERENCES `core_a_customuser` (`id`),
  CONSTRAINT `core_a_customuser_groups_group_id_dc862ac3_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_a_customuser_groups`
--

LOCK TABLES `core_a_customuser_groups` WRITE;
/*!40000 ALTER TABLE `core_a_customuser_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_a_customuser_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_a_customuser_user_permissions`
--

DROP TABLE IF EXISTS `core_a_customuser_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_a_customuser_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customuser_id` char(32) NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_a_customuser_user_p_customuser_id_permission_6e3b6315_uniq` (`customuser_id`,`permission_id`),
  KEY `core_a_customuser_us_permission_id_5c1f269a_fk_auth_perm` (`permission_id`),
  CONSTRAINT `core_a_customuser_us_customuser_id_fbbbfc2a_fk_core_a_cu` FOREIGN KEY (`customuser_id`) REFERENCES `core_a_customuser` (`id`),
  CONSTRAINT `core_a_customuser_us_permission_id_5c1f269a_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_a_customuser_user_permissions`
--

LOCK TABLES `core_a_customuser_user_permissions` WRITE;
/*!40000 ALTER TABLE `core_a_customuser_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_a_customuser_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_a_subscription`
--

DROP TABLE IF EXISTS `core_a_subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_a_subscription` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(254) NOT NULL,
  `subscribed_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `unique_email_subscription` (`email`),
  KEY `core_a_subs_email_57cf92_idx` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_a_subscription`
--

LOCK TABLES `core_a_subscription` WRITE;
/*!40000 ALTER TABLE `core_a_subscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_a_subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_b_blogpost`
--

DROP TABLE IF EXISTS `core_b_blogpost`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_b_blogpost` (
  `id` char(32) NOT NULL,
  `blogImage` varchar(100) NOT NULL,
  `blogTitle` varchar(200) NOT NULL,
  `slug` varchar(220) NOT NULL,
  `blogDescription` longtext NOT NULL,
  `blogExcerpt` longtext NOT NULL,
  `metaTitle` varchar(255) NOT NULL,
  `metaDescription` varchar(300) NOT NULL,
  `is_featured` tinyint(1) NOT NULL,
  `is_published` tinyint(1) NOT NULL,
  `views_count` int unsigned NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `blogCategory_id` char(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `core_b_blogpost_blogCategory_id_901637b5_fk_core_b_category_id` (`blogCategory_id`),
  KEY `core_b_blogpost_blogTitle_798ccf1e` (`blogTitle`),
  CONSTRAINT `core_b_blogpost_blogCategory_id_901637b5_fk_core_b_category_id` FOREIGN KEY (`blogCategory_id`) REFERENCES `core_b_category` (`id`),
  CONSTRAINT `core_b_blogpost_chk_1` CHECK ((`views_count` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_b_blogpost`
--

LOCK TABLES `core_b_blogpost` WRITE;
/*!40000 ALTER TABLE `core_b_blogpost` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_b_blogpost` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_b_blogpost_blogtags`
--

DROP TABLE IF EXISTS `core_b_blogpost_blogtags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_b_blogpost_blogtags` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blogpost_id` char(32) NOT NULL,
  `tags_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_b_blogpost_blogTags_blogpost_id_tags_id_b7a0568d_uniq` (`blogpost_id`,`tags_id`),
  KEY `core_b_blogpost_blogTags_tags_id_79695a7e_fk_core_b_tags_id` (`tags_id`),
  CONSTRAINT `core_b_blogpost_blog_blogpost_id_949d3967_fk_core_b_bl` FOREIGN KEY (`blogpost_id`) REFERENCES `core_b_blogpost` (`id`),
  CONSTRAINT `core_b_blogpost_blogTags_tags_id_79695a7e_fk_core_b_tags_id` FOREIGN KEY (`tags_id`) REFERENCES `core_b_tags` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_b_blogpost_blogtags`
--

LOCK TABLES `core_b_blogpost_blogtags` WRITE;
/*!40000 ALTER TABLE `core_b_blogpost_blogtags` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_b_blogpost_blogtags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_b_category`
--

DROP TABLE IF EXISTS `core_b_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_b_category` (
  `id` char(32) NOT NULL,
  `name` varchar(100) NOT NULL,
  `slug` varchar(120) NOT NULL,
  `description` longtext,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_b_category`
--

LOCK TABLES `core_b_category` WRITE;
/*!40000 ALTER TABLE `core_b_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_b_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_b_comments`
--

DROP TABLE IF EXISTS `core_b_comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_b_comments` (
  `id` char(32) NOT NULL,
  `name` varchar(100) NOT NULL,
  `email` varchar(254) NOT NULL,
  `comment` longtext NOT NULL,
  `is_approved` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `comment_on_comment_id` char(32) DEFAULT NULL,
  `post_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_b_comments_comment_on_comment_i_efe0ace0_fk_core_b_co` (`comment_on_comment_id`),
  KEY `core_b_comments_post_id_29e9132f_fk_core_b_blogpost_id` (`post_id`),
  KEY `core_b_comments_name_aad39c1e` (`name`),
  KEY `core_b_comments_email_3fb18827` (`email`),
  CONSTRAINT `core_b_comments_comment_on_comment_i_efe0ace0_fk_core_b_co` FOREIGN KEY (`comment_on_comment_id`) REFERENCES `core_b_comments` (`id`),
  CONSTRAINT `core_b_comments_post_id_29e9132f_fk_core_b_blogpost_id` FOREIGN KEY (`post_id`) REFERENCES `core_b_blogpost` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_b_comments`
--

LOCK TABLES `core_b_comments` WRITE;
/*!40000 ALTER TABLE `core_b_comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_b_comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_b_tags`
--

DROP TABLE IF EXISTS `core_b_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_b_tags` (
  `id` char(32) NOT NULL,
  `name` varchar(100) NOT NULL,
  `slug` varchar(120) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_b_tags`
--

LOCK TABLES `core_b_tags` WRITE;
/*!40000 ALTER TABLE `core_b_tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_b_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_c_supportticket`
--

DROP TABLE IF EXISTS `core_c_supportticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_c_supportticket` (
  `id` char(32) NOT NULL,
  `ticket_no` varchar(32) NOT NULL,
  `name` varchar(120) NOT NULL,
  `email` varchar(254) NOT NULL,
  `message` longtext NOT NULL,
  `ip_address` char(39) DEFAULT NULL,
  `user_agent` longtext,
  `status` varchar(16) NOT NULL,
  `priority` varchar(16) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ticket_no` (`ticket_no`),
  KEY `core_c_supportticket_email_f56185ed` (`email`),
  KEY `core_c_supportticket_status_78806642` (`status`),
  KEY `core_c_supportticket_priority_748b04ea` (`priority`),
  KEY `core_c_supportticket_created_at_c19d549b` (`created_at`),
  KEY `core_c_supp_email_51afbc_idx` (`email`,`created_at`),
  KEY `core_c_supp_status_a02282_idx` (`status`,`priority`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_c_supportticket`
--

LOCK TABLES `core_c_supportticket` WRITE;
/*!40000 ALTER TABLE `core_c_supportticket` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_c_supportticket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_o_couriorinfo`
--

DROP TABLE IF EXISTS `core_o_couriorinfo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_o_couriorinfo` (
  `id` char(32) NOT NULL,
  `coriour_name` varchar(100) NOT NULL,
  `tracking_id` varchar(200) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `order_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_o_couriorinfo_order_id_a948e5e8_fk_orders_id` (`order_id`),
  KEY `core_o_couriorinfo_coriour_name_e52d8393` (`coriour_name`),
  KEY `core_o_couriorinfo_tracking_id_5f189ad9` (`tracking_id`),
  KEY `core_o_couriorinfo_created_at_3ba30998` (`created_at`),
  CONSTRAINT `core_o_couriorinfo_order_id_a948e5e8_fk_orders_id` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_o_couriorinfo`
--

LOCK TABLES `core_o_couriorinfo` WRITE;
/*!40000 ALTER TABLE `core_o_couriorinfo` DISABLE KEYS */;
INSERT INTO `core_o_couriorinfo` VALUES ('2d542d96d68a401082ceca10f678b812','Leopard','aaaaaaaaaaaaaaaaaaaaaaa','2025-09-04 10:58:29.000000','561de07adce54a13ac1b7526ff76f8d0');
/*!40000 ALTER TABLE `core_o_couriorinfo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_coupon`
--

DROP TABLE IF EXISTS `core_p_coupon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_coupon` (
  `id` char(32) NOT NULL,
  `code` varchar(50) NOT NULL,
  `discount_percentage` decimal(5,2) NOT NULL,
  `active` tinyint(1) NOT NULL,
  `expires_at` datetime(6) DEFAULT NULL,
  `usage_limit` int NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_coupon`
--

LOCK TABLES `core_p_coupon` WRITE;
/*!40000 ALTER TABLE `core_p_coupon` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_coupon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_couponusage`
--

DROP TABLE IF EXISTS `core_p_couponusage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_couponusage` (
  `id` char(32) NOT NULL,
  `used_at` datetime(6) NOT NULL,
  `usage_count` int NOT NULL,
  `coupon_id` char(32) NOT NULL,
  `subscription_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_p_couponusage_coupon_id_subscription_id_cc0f1dee_uniq` (`coupon_id`,`subscription_id`),
  KEY `core_p_coup_coupon__8ee30e_idx` (`coupon_id`,`subscription_id`),
  KEY `core_p_couponusage_subscription_id_7ec4b7bc_fk_core_a_su` (`subscription_id`),
  CONSTRAINT `core_p_couponusage_coupon_id_7382f86f_fk_core_p_coupon_id` FOREIGN KEY (`coupon_id`) REFERENCES `core_p_coupon` (`id`),
  CONSTRAINT `core_p_couponusage_subscription_id_7ec4b7bc_fk_core_a_su` FOREIGN KEY (`subscription_id`) REFERENCES `core_a_subscription` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_couponusage`
--

LOCK TABLES `core_p_couponusage` WRITE;
/*!40000 ALTER TABLE `core_p_couponusage` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_couponusage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_inventory`
--

DROP TABLE IF EXISTS `core_p_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_inventory` (
  `id` char(32) NOT NULL,
  `quantity` int unsigned NOT NULL,
  `low_stock_threshold` int unsigned NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `product_id` char(32) DEFAULT NULL,
  `variant_id` char(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `product_id` (`product_id`),
  UNIQUE KEY `variant_id` (`variant_id`),
  CONSTRAINT `core_p_inventory_product_id_5d378b22_fk_core_p_product_id` FOREIGN KEY (`product_id`) REFERENCES `core_p_product` (`id`),
  CONSTRAINT `core_p_inventory_variant_id_eca07bee_fk_core_p_productvariant_id` FOREIGN KEY (`variant_id`) REFERENCES `core_p_productvariant` (`id`),
  CONSTRAINT `core_p_inventory_chk_1` CHECK ((`quantity` >= 0)),
  CONSTRAINT `core_p_inventory_chk_2` CHECK ((`low_stock_threshold` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_inventory`
--

LOCK TABLES `core_p_inventory` WRITE;
/*!40000 ALTER TABLE `core_p_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_inventoryhistory`
--

DROP TABLE IF EXISTS `core_p_inventoryhistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_inventoryhistory` (
  `id` char(32) NOT NULL,
  `change_type` varchar(3) NOT NULL,
  `quantity` int unsigned NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `remarks` longtext,
  `inventory_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_p_inventoryhist_inventory_id_f134f99b_fk_core_p_in` (`inventory_id`),
  CONSTRAINT `core_p_inventoryhist_inventory_id_f134f99b_fk_core_p_in` FOREIGN KEY (`inventory_id`) REFERENCES `core_p_inventory` (`id`),
  CONSTRAINT `core_p_inventoryhistory_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_inventoryhistory`
--

LOCK TABLES `core_p_inventoryhistory` WRITE;
/*!40000 ALTER TABLE `core_p_inventoryhistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_inventoryhistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_pctags`
--

DROP TABLE IF EXISTS `core_p_pctags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_pctags` (
  `id` char(32) NOT NULL,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_pctags`
--

LOCK TABLES `core_p_pctags` WRITE;
/*!40000 ALTER TABLE `core_p_pctags` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_pctags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_product`
--

DROP TABLE IF EXISTS `core_p_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_product` (
  `id` char(32) NOT NULL,
  `productName` varchar(255) NOT NULL,
  `productPrice` decimal(10,2) NOT NULL,
  `productCostPrice` decimal(10,2) DEFAULT NULL,
  `productComparePrice` decimal(10,2) DEFAULT NULL,
  `productStock` int unsigned NOT NULL,
  `productSKU` varchar(100) NOT NULL,
  `productBarcode` varchar(100) DEFAULT NULL,
  `productIsActive` varchar(30) NOT NULL,
  `productCreatedAt` datetime(6) NOT NULL,
  `productUpdatedAt` datetime(6) NOT NULL,
  `productSlug` varchar(255) DEFAULT NULL,
  `productIsFeatured` tinyint(1) NOT NULL,
  `productIsOnSale` tinyint(1) NOT NULL,
  `productType` varchar(100) NOT NULL,
  `productVendor` varchar(255) NOT NULL,
  `productSaleCountinue` tinyint(1) NOT NULL,
  `productIsTrackQuantity` tinyint(1) NOT NULL,
  `productShipping_id` char(32) DEFAULT NULL,
  `productVariant_id` char(32) DEFAULT NULL,
  `productSeo_id` char(32) DEFAULT NULL,
  `productIsBestSelling` tinyint(1) NOT NULL,
  `productIsForSubscription` tinyint(1) NOT NULL,
  `productDescription` longtext NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `productSKU` (`productSKU`),
  UNIQUE KEY `productSlug` (`productSlug`),
  UNIQUE KEY `productBarcode` (`productBarcode`),
  UNIQUE KEY `productShipping_id` (`productShipping_id`),
  UNIQUE KEY `productSeo_id` (`productSeo_id`),
  KEY `core_p_product_productVariant_id_8aa9860c_fk_core_p_pr` (`productVariant_id`),
  KEY `core_p_product_productName_6d5dad41` (`productName`),
  FULLTEXT KEY `idx_product_fulltext` (`productName`,`productDescription`),
  FULLTEXT KEY `ft_product_name_description` (`productName`,`productDescription`),
  CONSTRAINT `core_p_product_productSeo_id_a8f04f09_fk` FOREIGN KEY (`productSeo_id`) REFERENCES `core_p_productmeta` (`id`),
  CONSTRAINT `core_p_product_productShipping_id_7a9e0d31_fk_core_p_pr` FOREIGN KEY (`productShipping_id`) REFERENCES `core_p_productshipping` (`id`),
  CONSTRAINT `core_p_product_productVariant_id_8aa9860c_fk_core_p_pr` FOREIGN KEY (`productVariant_id`) REFERENCES `core_p_productvariant` (`id`),
  CONSTRAINT `core_p_product_chk_1` CHECK ((`productStock` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_product`
--

LOCK TABLES `core_p_product` WRITE;
/*!40000 ALTER TABLE `core_p_product` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_product_productcategory`
--

DROP TABLE IF EXISTS `core_p_product_productcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_product_productcategory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_id` char(32) NOT NULL,
  `productcategory_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_p_product_productCa_product_id_productcatego_ad0b6e1c_uniq` (`product_id`,`productcategory_id`),
  KEY `core_p_product_productCategory_productcategory_id_ef4a948d_fk` (`productcategory_id`),
  CONSTRAINT `core_p_product_produ_product_id_db322457_fk_core_p_pr` FOREIGN KEY (`product_id`) REFERENCES `core_p_product` (`id`),
  CONSTRAINT `core_p_product_productCategory_productcategory_id_ef4a948d_fk` FOREIGN KEY (`productcategory_id`) REFERENCES `core_p_productcategory` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_product_productcategory`
--

LOCK TABLES `core_p_product_productcategory` WRITE;
/*!40000 ALTER TABLE `core_p_product_productcategory` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_product_productcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_product_productcollection`
--

DROP TABLE IF EXISTS `core_p_product_productcollection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_product_productcollection` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_id` char(32) NOT NULL,
  `productcollection_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_p_product_productCo_product_id_productcollec_a485f193_uniq` (`product_id`,`productcollection_id`),
  KEY `core_p_product_produ_productcollection_id_2adfa015_fk_core_p_pr` (`productcollection_id`),
  CONSTRAINT `core_p_product_produ_product_id_bdd69ef4_fk_core_p_pr` FOREIGN KEY (`product_id`) REFERENCES `core_p_product` (`id`),
  CONSTRAINT `core_p_product_produ_productcollection_id_2adfa015_fk_core_p_pr` FOREIGN KEY (`productcollection_id`) REFERENCES `core_p_productcollection` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_product_productcollection`
--

LOCK TABLES `core_p_product_productcollection` WRITE;
/*!40000 ALTER TABLE `core_p_product_productcollection` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_product_productcollection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_product_productimages`
--

DROP TABLE IF EXISTS `core_p_product_productimages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_product_productimages` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_id` char(32) NOT NULL,
  `productimageschema_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_p_product_productIm_product_id_productimages_97561bf9_uniq` (`product_id`,`productimageschema_id`),
  KEY `core_p_product_produ_productimageschema_i_86ce47dc_fk_core_p_pr` (`productimageschema_id`),
  CONSTRAINT `core_p_product_produ_product_id_8fee7605_fk_core_p_pr` FOREIGN KEY (`product_id`) REFERENCES `core_p_product` (`id`),
  CONSTRAINT `core_p_product_produ_productimageschema_i_86ce47dc_fk_core_p_pr` FOREIGN KEY (`productimageschema_id`) REFERENCES `core_p_productimageschema` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_product_productimages`
--

LOCK TABLES `core_p_product_productimages` WRITE;
/*!40000 ALTER TABLE `core_p_product_productimages` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_product_productimages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_product_producttags`
--

DROP TABLE IF EXISTS `core_p_product_producttags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_product_producttags` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_id` char(32) NOT NULL,
  `pctags_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_p_product_productTags_product_id_pctags_id_c6ab2b4d_uniq` (`product_id`,`pctags_id`),
  KEY `core_p_product_productTags_pctags_id_0fd78551_fk` (`pctags_id`),
  CONSTRAINT `core_p_product_produ_product_id_04d25d78_fk_core_p_pr` FOREIGN KEY (`product_id`) REFERENCES `core_p_product` (`id`),
  CONSTRAINT `core_p_product_productTags_pctags_id_0fd78551_fk` FOREIGN KEY (`pctags_id`) REFERENCES `core_p_pctags` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_product_producttags`
--

LOCK TABLES `core_p_product_producttags` WRITE;
/*!40000 ALTER TABLE `core_p_product_producttags` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_product_producttags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_productcategory`
--

DROP TABLE IF EXISTS `core_p_productcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_productcategory` (
  `id` char(32) NOT NULL,
  `categoryName` varchar(255) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `categoryName` (`categoryName`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_productcategory`
--

LOCK TABLES `core_p_productcategory` WRITE;
/*!40000 ALTER TABLE `core_p_productcategory` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_productcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_productcollection`
--

DROP TABLE IF EXISTS `core_p_productcollection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_productcollection` (
  `id` char(32) NOT NULL,
  `collectionName` varchar(255) NOT NULL,
  `collectionImage` varchar(100) NOT NULL,
  `collectionDescription` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `collectionSlug` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `collectionName` (`collectionName`),
  UNIQUE KEY `collectionSlug` (`collectionSlug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_productcollection`
--

LOCK TABLES `core_p_productcollection` WRITE;
/*!40000 ALTER TABLE `core_p_productcollection` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_productcollection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_productcollection_collectiontags`
--

DROP TABLE IF EXISTS `core_p_productcollection_collectiontags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_productcollection_collectiontags` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `productcollection_id` char(32) NOT NULL,
  `pctags_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_p_productcollection_productcollection_id_pct_b14904b0_uniq` (`productcollection_id`,`pctags_id`),
  KEY `core_p_productcollection_collectionTags_pctags_id_32fae762_fk` (`pctags_id`),
  CONSTRAINT `core_p_productcollec_productcollection_id_16cc3ef4_fk_core_p_pr` FOREIGN KEY (`productcollection_id`) REFERENCES `core_p_productcollection` (`id`),
  CONSTRAINT `core_p_productcollection_collectionTags_pctags_id_32fae762_fk` FOREIGN KEY (`pctags_id`) REFERENCES `core_p_pctags` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_productcollection_collectiontags`
--

LOCK TABLES `core_p_productcollection_collectiontags` WRITE;
/*!40000 ALTER TABLE `core_p_productcollection_collectiontags` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_productcollection_collectiontags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_productimageschema`
--

DROP TABLE IF EXISTS `core_p_productimageschema`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_productimageschema` (
  `id` char(32) NOT NULL,
  `image` varchar(100) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_productimageschema`
--

LOCK TABLES `core_p_productimageschema` WRITE;
/*!40000 ALTER TABLE `core_p_productimageschema` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_productimageschema` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_productmeta`
--

DROP TABLE IF EXISTS `core_p_productmeta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_productmeta` (
  `id` char(32) NOT NULL,
  `metaTitle` varchar(255) NOT NULL,
  `metaDescription` longtext NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_productmeta`
--

LOCK TABLES `core_p_productmeta` WRITE;
/*!40000 ALTER TABLE `core_p_productmeta` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_productmeta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_productmeta_metakeywords`
--

DROP TABLE IF EXISTS `core_p_productmeta_metakeywords`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_productmeta_metakeywords` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `productmeta_id` char(32) NOT NULL,
  `pctags_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_p_productmeta_metaK_productmeta_id_pctags_id_f02e55e7_uniq` (`productmeta_id`,`pctags_id`),
  KEY `core_p_productmeta_m_pctags_id_57b489b8_fk_core_p_pc` (`pctags_id`),
  CONSTRAINT `core_p_productmeta_m_pctags_id_57b489b8_fk_core_p_pc` FOREIGN KEY (`pctags_id`) REFERENCES `core_p_pctags` (`id`),
  CONSTRAINT `core_p_productmeta_m_productmeta_id_c622ffdc_fk_core_p_pr` FOREIGN KEY (`productmeta_id`) REFERENCES `core_p_productmeta` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_productmeta_metakeywords`
--

LOCK TABLES `core_p_productmeta_metakeywords` WRITE;
/*!40000 ALTER TABLE `core_p_productmeta_metakeywords` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_productmeta_metakeywords` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_productreview`
--

DROP TABLE IF EXISTS `core_p_productreview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_productreview` (
  `id` char(32) NOT NULL,
  `rating_image` varchar(100) DEFAULT NULL,
  `rating` decimal(3,2) NOT NULL,
  `rating_comment` longtext NOT NULL,
  `review_to_id` char(32) NOT NULL,
  `reviewd_by_id` char(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `core_p_productreview_review_to_id_d3ae4664_fk_core_p_product_id` (`review_to_id`),
  KEY `core_p_productreview_reviewd_by_id_35adb9ad_fk_core_a_cu` (`reviewd_by_id`),
  KEY `core_p_productreview_rating_d5729417` (`rating`),
  CONSTRAINT `core_p_productreview_review_to_id_d3ae4664_fk_core_p_product_id` FOREIGN KEY (`review_to_id`) REFERENCES `core_p_product` (`id`),
  CONSTRAINT `core_p_productreview_reviewd_by_id_35adb9ad_fk_core_a_cu` FOREIGN KEY (`reviewd_by_id`) REFERENCES `core_a_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_productreview`
--

LOCK TABLES `core_p_productreview` WRITE;
/*!40000 ALTER TABLE `core_p_productreview` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_p_productreview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_productshipping`
--

DROP TABLE IF EXISTS `core_p_productshipping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_productshipping` (
  `id` char(32) NOT NULL,
  `shippingWeight` decimal(10,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `shippingUnit` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_productshipping`
--

LOCK TABLES `core_p_productshipping` WRITE;
/*!40000 ALTER TABLE `core_p_productshipping` DISABLE KEYS */;
INSERT INTO `core_p_productshipping` VALUES ('1d2d29a8bfc74c87a5833c8d1ea30eb9',5.00,'2025-08-05 05:56:03.422204','g'),('6b9ef67a9f484132854a8dc0804976ab',200.00,'2025-08-04 17:50:49.926756','g'),('71468ce32470433181b73e3a8030ecd0',350.00,'2025-08-05 06:20:28.746694','g');
/*!40000 ALTER TABLE `core_p_productshipping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_p_productvariant`
--

DROP TABLE IF EXISTS `core_p_productvariant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_p_productvariant` (
  `id` char(32) NOT NULL,
  `variantImage` varchar(100) NOT NULL,
  `variantName` varchar(255) NOT NULL,
  `variantPrice` decimal(10,2) NOT NULL,
  `variantSKU` varchar(100) NOT NULL,
  `variantStock` int unsigned NOT NULL,
  `variantBarcode` varchar(100) DEFAULT NULL,
  `variantIsActive` tinyint(1) NOT NULL,
  `variantCreatedAt` datetime(6) NOT NULL,
  `variantUpdatedAt` datetime(6) NOT NULL,
  `parentVariant_id` char(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `variantSKU` (`variantSKU`),
  UNIQUE KEY `variantBarcode` (`variantBarcode`),
  KEY `core_p_productvarian_parentVariant_id_c74bf5a6_fk_core_p_pr` (`parentVariant_id`),
  CONSTRAINT `core_p_productvarian_parentVariant_id_c74bf5a6_fk_core_p_pr` FOREIGN KEY (`parentVariant_id`) REFERENCES `core_p_productvariant` (`id`),
  CONSTRAINT `core_p_productvariant_chk_1` CHECK ((`variantStock` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_p_productvariant`
--

LOCK TABLES `core_p_productvariant` WRITE;
/*!40000 ALTER TABLE `core_p_productvariant` DISABLE KEYS */;
INSERT INTO `core_p_productvariant` VALUES ('0506e7b0c9964309a767a980f182cafe','variant_images/eed2d737-ba39-4c77-8086-916a880f372d.jpg','white',103.00,'',10,NULL,1,'2025-08-04 17:50:23.314016','2025-08-04 17:50:23.314073',NULL);
/*!40000 ALTER TABLE `core_p_productvariant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_core_a_customuser_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_core_a_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_a_customuser` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=313 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('ndru485orsi4t5760s5v8ayes3ebmpur','.eJxVjDsOwyAMQO_CXBAQCLhj954hMthu-lEi5TNVvXsTKUM7v89bdbgufbfOPHV3UmeFLYnN2GiBaHXAWDVQEu25cmIfA0tQp9-sYH3ysLf0wOE2mjoOy3QvZlfMQWdzHYlfl8P9G_Q491stKQZrLXtkIGCfEZMQuFxSkQYTOyvifKIcGksVNlrbyg5izFBqVJ8vbcpCUw:1uu6EQ:XK_L2OfFXcLBABvJX4D7NaZfeqUT1iOpyIp2x662IA0','2025-09-18 09:26:14.933202');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_addresses`
--

DROP TABLE IF EXISTS `order_addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_addresses` (
  `id` char(32) NOT NULL,
  `address_type` varchar(3) NOT NULL,
  `fullName` varchar(120) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(20) NOT NULL,
  `line1` varchar(120) NOT NULL,
  `line2` varchar(120) NOT NULL,
  `state` varchar(80) NOT NULL,
  `country` varchar(50) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `order_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `order_addresses_order_id_b9e5a11b_fk_orders_id` (`order_id`),
  KEY `order_addresses_address_type_53cc8b9d` (`address_type`),
  KEY `order_addresses_email_a1c3d390` (`email`),
  KEY `order_addresses_country_cca90f29` (`country`),
  CONSTRAINT `order_addresses_order_id_b9e5a11b_fk_orders_id` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_addresses`
--

LOCK TABLES `order_addresses` WRITE;
/*!40000 ALTER TABLE `order_addresses` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_items` (
  `id` char(32) NOT NULL,
  `product_id` char(32) NOT NULL,
  `product_SKU` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `quantity` int unsigned NOT NULL,
  `unit_price` decimal(12,2) NOT NULL,
  `total_price` decimal(12,2) NOT NULL,
  `order_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `order_items_order_i_f97371_idx` (`order_id`,`product_id`),
  KEY `order_items_product_id_dd557d5a` (`product_id`),
  CONSTRAINT `order_items_order_id_412ad78b_fk_orders_id` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`),
  CONSTRAINT `order_items_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `id` char(32) NOT NULL,
  `order_number` varchar(20) DEFAULT NULL,
  `subtotal_amount` decimal(12,2) NOT NULL,
  `shipping_amount` decimal(12,2) NOT NULL,
  `tax_amount` decimal(12,2) NOT NULL,
  `discount_amount` decimal(12,2) NOT NULL,
  `total_amount` decimal(12,2) NOT NULL,
  `currency` varchar(3) NOT NULL,
  `status` varchar(3) NOT NULL,
  `payment_reference` varchar(64) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` char(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_number` (`order_number`),
  KEY `orders_user_id_51663a_idx` (`user_id`,`created_at`),
  KEY `orders_status_11db6c_idx` (`status`,`created_at`),
  KEY `orders_currency_0c6eb21b` (`currency`),
  KEY `orders_status_17b834eb` (`status`),
  KEY `orders_payment_reference_9dbdaada` (`payment_reference`),
  KEY `orders_created_at_91ec19d2` (`created_at`),
  CONSTRAINT `orders_user_id_7e2523fb_fk_core_a_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_a_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-13 11:57:38
